

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
}

.leftArrow {
    left: -20px;
}
.rightArrow {
    right: -20px;
}

.stop {
    opacity: .5;
}