

.selectBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $borderColor;
    border-radius: 8px;
    column-gap: 15px;
    padding: 10px;
    min-width: 190px;
    max-width: 100%;
    cursor: pointer;
    select {
        all: unset;
        width: 100%;
    }
}