
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

$primaryColor: #2759CD;
$dangerColor : #F05454;
$grayColor : #F6F6F6;
$secondColor: #E6E7EE;
$whiteColor:#fff;
$textColor : #626262;
$blackColor : #000;
$borderColor : #6B729E;
$mainFont : 'Poppins', sans-serif ;
$prefixes-list: (webkit , moz , o);

