

*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $mainFont;
    background-color: $grayColor;
    position: relative;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track ,
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: $grayColor;
}

::-webkit-scrollbar-thumb {
    background-color: #898989;
}


html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;padding: 0;
}

a {
    @include reSetting-a(16px,$textColor);
}

p{ 
    font-size: 18px;
    word-spacing: 1.5px;
    color: $textColor;
    text-transform: capitalize;
}
