


.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.column-gap10 {
    column-gap: 10px;
}
.column-gap {
    column-gap: 20px;
}

.gap {
    gap: 20px;
}

.row-gap {
    row-gap: 20px;
}


.sec-padding {
    padding: 80px 0px;
}


.sec-margin {
    margin: 80px 0px;
}

.w-100 {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.ml-auto {
    margin-inline-start: auto;
}

.mt-20 {
    margin-block-start: 20px;
}

.container {
    display: block;
    width: 1180px;
    margin: auto;

    @include largeScreen {
        width: 85%;
    }
}

// global classes style for this project



#tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.tag {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    font-size: 14px;
    list-style: none;
    border-radius: 6px;
    margin-right: 5px;
    background: $grayColor;
    .tag-title {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $blackColor;
    }
}

.tag-close-icon {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    margin-right: 8px;
    color: $whiteColor;
    border-radius: 50%;
    background: $dangerColor;
    cursor: pointer;
}